* {
	padding: 0;
	margin: 0;
	font-family: calibri;
}
body {
	background: rgba(86, 101, 115);
}
nav {
	width: 100%;
	background: rgba(39, 55, 70);
	display: flex;
	align-items: center;
	font-size: 28px;
	border-bottom: solid 2px rgba(171, 178, 185);
}
nav img {
	margin-left: 10px;
}
nav a {
	margin: 0 10px;
}
.nav-link:hover {
	color: rgba(171, 178, 185);
	font-size: 26px;
}
a {
	text-decoration: none;
	color: white;
}
/*HOME PAGE*/
.about-me {
	width: 50%;
	margin: 20px auto;
	text-align: center;
	color: white;
}
.about-me img {
	border-radius: 100%;
	height: 170px;
	display: block;
	margin: 0 auto;
}
#home-page {
	color: grey;
	width: 100%;
	background: rgba(0,0,0,0.4);
	position: absolute;
	position: fixed;
	bottom: 0;
}
#home-page p {
	margin-left: 10px;
}


/*PORTFOLIO PAGE*/

.portfolio {
	width: 80%;
	text-align: center;
}
.portfolio legend {
	color: white;
	font-weight: bold;
	font-size: 32px;
}
.portfolio a {
	color: white;
	font-size: 24px;
}
.portfolio img {
	height: 200px;
	border: solid 2px grey;
}
.portfolio img:hover {
	height: 500px;
}
