* {
	padding: 0;
	margin: 0;
	font-family: calibri;
	overflow-x: hidden;
	text-decoration: none;
}
body {
	width: 100%;
	background: rgba(86, 101, 115);
}
svg {
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	width: 100%;
	-webkit-animation: bgcolor 30s infinite;
	animation: bgcolor 20s infinite;		
	position: absolute;
	-webkit-animation-direction: alternate;
    animation-direction: alternate;
	}

@keyframes bgcolor {
    0% {
        filter: drop-shadow(0 0 90px blue);
    }

    30% {
        filter: drop-shadow(0 0 90px #66bf39);
    }

    60% {
        filter: drop-shadow(0 0 90px #eb670f);
    }

    90% {
        filter: drop-shadow(0 0 90px #f35);
    }

    100% {
        filter: drop-shadow(0 0 90px #864cbf);
    }
}
nav a {
	color: white;
	position: absolute;
	font-size: 190%;
	right: 5%;
	top: 5%;
}
.hm {
	margin-right: 10%;
}
.pf {
	margin-left: 5%;
}
/*HOME PAGE*/
.about-me {
	width: 50%;
	margin: 15% 25%;
	text-align: center;
	color: white;
	position: absolute;
}
.about-me img {
	border-radius: 100%;
	border: solid 0.01vw white;
	height: 15vw;
	display: block;
	margin: 0 auto;
}
#home-page {
	color: grey;
	width: 100%;
	background: rgba(0,0,0,0.4);
	position: absolute;
	position: fixed;
	bottom: 0;
}
#home-page p {
	margin-left: 10px;
}

.contact-form {
	position: absolute;
	bottom: 30%;
	left: 1%;
	width: 15%;
	padding: 1%;
	text-align: center;
	border: solid 0.01vw white;
	border-radius: 10%;
	background-color: rgba(0,0,0,0.4)
	color: white;
}
.contact-form-button {
	background-color: grey;
	color: white;
	padding: 1%;
}
/*PORTFOLIO PAGE*/

.portfolio {
	width: 50%;
	margin: 10% 10%;
	position: absolute;
}
.portfolio hr {
	width: 25%;
	margin: 1% 5%;
}
.portfolio legend {
	color: white;
	font-weight: bold;
	font-size: 32px;
}
.portfolio a {
	color: white;
	font-size: 24px;
}
.portfolio img {
	height: 200px;
	border: solid 2px grey;
}
.portfolio img:hover {
	height: 500px;
	width: 100%;
	cursor: pointer;
}
.portfolio p {
	margin-left: 25%;
}